@model Service
@{
    ViewData["Title"] = "Edit";
    List<Service> services = ViewBag.Icons;
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Order">Order</label>
                <input asp-for="Order" class="form-control" placeholder="Order">
                <span class="text-danger" asp-validation-for="Order"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Desc">Description</label>
                <input asp-for="Desc" class="form-control" placeholder="Desc">
                <span class="text-danger" asp-validation-for="Desc"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Icons</label>
                <select class="form-control" asp-for="Icon" asp-items="@(new SelectList(ViewBag.Icons,"Icon","Icon"))"></select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="UrlText">UrlText</label>
            <input asp-for="UrlText" class="form-control" placeholder="UrlText">
            <span class="text-danger" asp-validation-for="UrlText"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>
